package components

templ Footer() {
    <footer class="mt-5 py-3 bg-light text-center">
        <div class="container">
            <span class="text-muted">© 2025 Админ панель</span>
        </div>
    </footer>
}
