package pages

import (
	"github.com/Maxim-Ba/cv-backend/internal/models/gen"
	"github.com/Maxim-Ba/cv-backend/internal/view/components/components"
	"github.com/Maxim-Ba/cv-backend/internal/view/components/layout"
	"github.com/Maxim-Ba/cv-backend/pkg/i18n"
)

templ AboutMePage(user string, profileAbout i18n.LocalizedText, profileNote i18n.LocalizedText, profileHobbies i18n.LocalizedText, allTech []models.Technology, selectedTechnologyIDs map[int64]bool, csrfToken string) {
	@layout.Base("О себе", aboutMePage(profileAbout, profileNote, profileHobbies, allTech, selectedTechnologyIDs, csrfToken), user)
}

templ aboutMePage(profileAbout, profileNote, profileHobbies i18n.LocalizedText, allTech []models.Technology, selectedTechnologyIDs map[int64]bool, csrfToken string) {
	<h2 class="mb-4">Секция «О себе»</h2>
	@components.InlineEntityForm(components.AboutMeFormData(
		profileAbout,
		profileNote,
		profileHobbies,
		allTech,
		selectedTechnologyIDs,
		csrfToken,
	))
}
