package pages

import (
    "github.com/Maxim-Ba/cv-backend/internal/view/components/layout"
)

templ TechPage(user string) {
    @layout.Base("Tech", techPage(user), user)
}

templ techPage(user string) {
   <h1>Technolgies</h1>
    
}
